<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.flowable.mapper.FlowMapper">
    
	<update id="updateProcInsIdByBusinessId">
		UPDATE ${businessTable} SET 
			proc_ins_id = #{procInsId}
		WHERE id = #{businessId}
	</update>
	
	<update id="updateProcStatusByProcInsId">
		UPDATE ${businessTable} SET
			proc_status = #{procStatus}
		WHERE proc_ins_id = #{procInsId}
	</update>
	
	<select id="getSequence" resultType="java.lang.String">
	    select getDateSeq(#{seqName}, #{bizCode}, '%Y') as seq
	</select>
	
	<select id="getLatestProcessDefinitionId" resultType="java.lang.String">
	    SELECT id_ FROM act_re_procdef where key_ = #{procDefKey} order by version_ desc limit 1
	</select>
	
	<select id="getProcessStatus" resultType="java.lang.String">
	    SELECT if( a.end_time_ is not null, '结束', '处理中') as status FROM act_hi_procinst a where a.PROC_INST_ID_ = #{procInsId} 
	</select>
	
	<select id="querySql" resultType="java.util.Map">
	    ${sql}
	</select>
	
	<select id="findAllList" resultType="com.jeeplus.modules.flowable.vo.ProcessVo" >
		SELECT
			b.id_ AS "task.id",
			if(b.ACT_TYPE_='endEvent', 'End', b.ACT_NAME_) AS "task.name",
			b.ASSIGNEE_ AS "task.assignee",
			ifnull(( SELECT concat( login_name, ' : ', NAME ) FROM sys_user WHERE id = b.ASSIGNEE_ ),b.ASSIGNEE_) AS "task.assigneeName",
			b.EXECUTION_ID_ AS "task.executionId",
			b.act_id_ AS "task.taskDefinitionKey",
			b.START_TIME_ AS "task.createTime",
			b.PROC_DEF_ID_ AS "task.processDefinitionId",
			b.PROC_INST_ID_ AS "processInstanceId",
			b.PROC_INST_ID_ AS "task.processInstanceId",
			if( a.end_time_ is not null, '结束', '处理中') as "status",
			SUBSTRING_INDEX( b.PROC_DEF_ID_, ':', 1 ) AS "task.processDefKey" 
		FROM
			act_hi_procinst a 
			join (SELECT * FROM act_hi_actinst  WHERE ID_ IN (select id_ from v_act_hi_current_task) ) b on a.PROC_INST_ID_ = b.PROC_INST_ID_
		WHERE 1=1 
			<if test="processDefinitionKey != null and processDefinitionKey != ''">
				and LOWER(SUBSTRING_INDEX(a.PROC_DEF_ID_, ':', 1 )) = LOWER (#{processDefinitionKey})
		    </if>
		    
		    <if test="status != null and status == 'In progress'">
				and a.end_time_ is null
		    </if>
		    <if test="status != null and status == 'End'">
				and a.end_time_ is not null
		    </if>
		    
		    <if test="startTime != null"> 
				AND b.START_TIME_ &gt; #{startTime} 
			</if>
			
			<if test="endTime != null"> 
			    AND b.START_TIME_ &lt; #{endTime} 
			</if>
			
			<if test="title != null and title != ''"> 
			    AND exists(select 1 from act_hi_varinst v where v.PROC_INST_ID_ = a.PROC_INST_ID_ and v.name_='title' and v.TEXT_ like 
			    	<if test="_databaseId == 'postgre'">'%'||#{title}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{title}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{title}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{title},'%')</if> 
					)
			</if>
			order by b.START_TIME_ desc 
	</select>
	
	
	<select id="findAllTodoList" resultType="com.jeeplus.modules.flowable.vo.ProcessVo" >
		SELECT
			id_ AS "task.id",
			name_ AS "task.name",
			ASSIGNEE_ AS "task.assignee",
			( SELECT concat( login_name, ' : ', NAME ) FROM sys_user WHERE id = ASSIGNEE_ ) AS "task.assigneeName",
			EXECUTION_ID_ AS "task.executionId",
			TASK_DEF_KEY_ AS "task.taskDefinitionKey",
			CREATE_TIME_ AS "task.createTime",
			PROC_DEF_ID_ AS "task.processDefinitionId",
			PROC_INST_ID_ AS "task.processInstanceId",
			SUBSTRING_INDEX( PROC_DEF_ID_, ':', 1 ) AS "task.processDefKey" 
		FROM
			act_ru_task t
		WHERE
			(
				assignee_ = #{task.assignee}
				OR assignee_ IN (
					SELECT OWNER 
					FROM
						wf_delegate 
					WHERE
						delegate = #{task.assignee}
					AND now() BETWEEN start_time 
					AND end_time)
				OR (assignee_ is null and exists(select 1 from act_ru_identitylink where task_id_= t.id_ and user_id_ = #{task.assignee}))
			)			
			<if test="processDefinitionKey != null and processDefinitionKey != ''"> 
				<choose>
                <when test="processDefinitionKey = 'prpo,pr'">
                    and (LOWER(SUBSTRING_INDEX( PROC_DEF_ID_, ':', 1 )) = 'prpo' OR LOWER(SUBSTRING_INDEX( PROC_DEF_ID_, ':', 1 )) = 'pr')
                </when>
                <otherwise>
                    and LOWER(SUBSTRING_INDEX( PROC_DEF_ID_, ':', 1 )) = LOWER (#{processDefinitionKey})
                </otherwise>
            </choose>
				
		    </if>
		    
		    <if test="startTime != null"> 
				AND CREATE_TIME_ &gt; #{startTime} 
			</if>
			
			<if test="endTime != null"> 
			    AND CREATE_TIME_ &lt; #{endTime} 
			</if>
			
			<if test="title != null and title != ''"> 
			    AND getProcessVar(PROC_INST_ID_, 'title') like 
			    	<if test="_databaseId == 'postgre'">'%'||#{title}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{title}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{title}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{title},'%')</if>
			</if>
			order by CREATE_TIME_ desc 
	</select>
	
	<select id="findHistoryList" resultType="com.jeeplus.modules.flowable.vo.ProcessVo" >
		select 
			`PROC_INST_ID_` as processInstanceId,
			`PROC_DEF_ID_` as processDefinitionId,
			`START_TIME_` as startTime,
			`END_TIME_` as endTime
		from act_hi_procinst a 
		<where>
			a.END_TIME_ is not null 
			<if test="title != null and title != ''">
				and exists (select 1 from act_hi_varinst v where v.PROC_INST_ID_=a.PROC_INST_ID_ and v.NAME_ = 'title' and v.TEXT_ LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{title}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{title}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{title}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{title},'%')</if>
				)
			</if>
		</where>
		ORDER BY a.END_TIME_ desc
	</select>
	
	<select id="findLastestHiActList" resultType="com.jeeplus.modules.flowable.vo.ActVo" >
		select if(a.ACT_TYPE_='endEvent', 'End', a.ACT_NAME_) as name, a.ASSIGNEE_ as assignee, concat(u.login_name,' : ',u.name) as assigneeName  
		from act_hi_actinst a
		left join sys_user u on a.ASSIGNEE_ = u.id
		where a.PROC_INST_ID_ = #{procInsId} and a.ACT_TYPE_ in ('userTask','startEvent','endEvent')
		order by a.START_TIME_ desc, a.ACT_TYPE_ desc limit 1
	</select>
	
	<select id="getRemarks" resultType="java.lang.String">
	    select getRemarks(#{procInsId}, #{procDefKey}) as remarks
	</select>
	<select id="getProcessVar" resultType="java.lang.String">
	    select getProcessVar(#{procInsId}, #{varName}) as value
	</select>
</mapper>