@use "sass:math";
// screen size boundary
// $screen-xs: 
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

// grid column
$grid-column: 24;
$one-grid-width: math.div(1, $grid-column);

// Ultra small screen (Phone)
@for $i from 1 to ($grid-column + 1) {
  .zm-xs-#{$i} {
    width: percentage($one-grid-width * $i);
  }
}
// Small screen (tablet)
@media (min-width: $screen-sm) {
  @for $i from 1 to ($grid-column + 1) {
    .zm-sm-#{$i} {
      width: percentage($one-grid-width * $i);
    }
  }
}
// Medium screen (desktop display)
@media (min-width: $screen-md) {
  @for $i from 1 to ($grid-column + 1) {
    .zm-md-#{$i} {
      width: percentage($one-grid-width * $i);
    }
  }
}
// Large screen (large desktop display)
@media (min-width: $screen-lg) {
  @for $i from 1 to ($grid-column + 1) {
    .zm-lg-#{$i} {
      width: percentage($one-grid-width * $i);
    }
  }
}
