<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jeeplus.modules.wf.mapper.WfDeptHeadMapper">

	<sql id="wfDeptHeadColumns">
		a.id AS "id",
		a.create_by AS "createBy.id",
		a.create_date AS "createDate",
		a.update_by AS "updateBy.id",
		a.update_date AS "updateDate",
		a.site AS "site",
		a.dept AS "dept",
		a.approver AS "approver.id",







		approver.name AS "approver.name"
	</sql>

	<sql id="wfDeptHeadJoins">

		LEFT JOIN sys_user approver ON approver.id = a.approver
	</sql>


	<select id="get" resultType="WfDeptHead" >
		SELECT
			<include refid="wfDeptHeadColumns"/>
		FROM wf_dept_head a
		<include refid="wfDeptHeadJoins"/>
		WHERE a.id = #{id}
	</select>

	<select id="findList" resultType="WfDeptHead" >
		SELECT
			<include refid="wfDeptHeadColumns"/>
		FROM wf_dept_head a
		<include refid="wfDeptHeadJoins"/>
		<where>
			
			${dataScope}
			<if test="site != null and site != ''">
				AND a.site = #{site}
			</if>
			<if test="dept != null and dept != ''">
				AND a.dept LIKE
				    <if test="_databaseId == 'postgre'">'%'||#{dept}||'%'</if>
					<if test="_databaseId == 'oracle'">'%'||#{dept}||'%'</if>
					<if test="_databaseId == 'mssql'">'%'+#{dept}+'%'</if>
					<if test="_databaseId == 'mysql'">concat('%',#{dept},'%')</if>
			</if>
			<if test="approver != null and approver.id != null and approver.id != ''">
				AND a.approver = #{approver.id}
			</if>
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<select id="findAllList" resultType="WfDeptHead" >
		SELECT
			<include refid="wfDeptHeadColumns"/>
		FROM wf_dept_head a
		<include refid="wfDeptHeadJoins"/>
		<where>
			
			${dataScope}
		</where>
		<choose>
			<when test="page !=null and page.orderBy != null and page.orderBy != ''">
				ORDER BY ${page.orderBy}
			</when>
			<otherwise>
				ORDER BY a.update_date DESC
			</otherwise>
		</choose>
	</select>

	<insert id="insert">
		INSERT INTO wf_dept_head(
			id,
			create_by,
			create_date,
			update_by,
			update_date,
			site,
			dept,
			approver
		) VALUES (
			#{id},
			#{createBy.id},
			#{createDate},
			#{updateBy.id},
			#{updateDate},
			#{site},
			#{dept},
			#{approver.id}
		)
	</insert>

	<update id="update">
		UPDATE wf_dept_head SET
			update_by = #{updateBy.id},
			update_date = #{updateDate},
			site = #{site},
			dept = #{dept},
			approver = #{approver.id}
		WHERE id = #{id}
	</update>


	<!--物理删除-->
	<update id="delete">
		DELETE FROM wf_dept_head
		WHERE id = #{id}
	</update>

	<!--逻辑删除-->
	<update id="deleteByLogic">
		UPDATE wf_dept_head SET
			del_flag = #{DEL_FLAG_DELETE}
		WHERE id = #{id}
	</update>


	<!-- 根据实体名称和字段名称和字段值获取唯一记录 -->
	<select id="findUniqueByProperty" resultType="WfDeptHead">
		select * FROM wf_dept_head  where ${propertyName} = #{value}
	</select>

</mapper>